$color-primary:#E62638;
$color-secondary:#2D89CB;

$color-light-grey:#ECECEC;
$color-grey:#C4C4C4;
$color-grey-dark:#777;
$color-white: #FFFFFF;
$color-black: #000000;
$color-transparent: transparent;

$color-yellow: rgb(234 179 8);
$color-green:rgb(22 163 74);
$color-blue:rgb(2 132 199);
$color-purple:rgb(109 40 217);

$font-heading:"Poppins", Arial, sans-serif;
$font-body:"Poppins", Arial, sans-serif;

$gridWidth: 10rem;
$gridGap: 2rem;

