$color-primary:#FF0101;

$color-light-grey:#E0E0E0;
$color-grey:#C4C4C4;
$color-white: #FFFFFF;
$color-black: #000000;
$color-transparent: transparent;

$font-heading:"Poppins", Arial, sans-serif;
$font-body:"Poppins", Arial, sans-serif;
