@use '../abstracts/variables' as *;
@use '../abstracts/screenwidth' as *;

.d {
    &-none {
        display: none;
    }
    &-block {
        display: block;
    }
    &-unset {
        display: unset;
    }
}

body {
    font-family: $font-body;
}

.wrapper {
    min-height: calc(100vh - 152px);
    padding-top: 152px;
    @media (max-width:$max-md) {
        padding-top: 89px;
    }

    &__maps {
        position: sticky;
        top:0rem;
        height: 0;
        padding-bottom: 60vh;
        margin:0.15rem 0 0rem 0;

        #map {
            position: absolute; 
            top: 0; 
            bottom: 0; 
            width: 100%; 
            height: 100%;
            z-index:1;
            .leaflet-control-container {
                display: none;
            }
        }

        &__category {
            position: absolute;
            left: 1ch;
            top:1ch;
            padding: 1ch;
            z-index: 2;
            ul {
                list-style: none;
                margin:0;
                padding:0;
                li {
                    + * {
                        margin-top: 0.5rem;
                    }
                    a {
                        display: inline-flex;
                        align-items: center;
                        background-color: $color-primary;
                        color:$color-white;

                        border-radius: 8px;
                        font-size: 0.85rem;

                        text-decoration: none;
                        padding: 0.25rem 0.5em;
                    }
                }
            }
        }
    }
    &__inner {
        position: relative;
        background-color: $color-white;
        z-index: 2;
    }
    &__main {
        @media (max-width:$max-md) {
           padding: 0 1rem;
        }
        h1 {
            color:$color-primary;
        }
        h2 {
            color:$color-grey;
            font-weight: 500;
        }
        &__menu {
            list-style: none;
            padding:0 0 3rem 0;
            margin:1rem 0;
            border-bottom: 15px solid $color-grey;
            li {
                a {
                    width: max-content;
                    min-width: 15rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color:$color-black;
                    padding:0.25rem 0rem;
                    
                    &:hover {
                        background-color: $color-grey;
                    }

                    &::after {
                        content:'';
                        width: 18px;
                        height: 18px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h13M12 5l7 7-7 7'/%3E%3C/svg%3E");
                        background-size: contain;
                    }
                }
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @media (max-width:$max-md) {
                grid-template-columns: 1fr;
            }

            gap:2rem;

            &--cell {
                :is(h1,h2,h3) {
                    color:$color-primary;
                    margin-bottom: 1rem;
                }
                &__bg {
                    background-color: $color-grey;
                    padding: 2rem;
                    line-height: 1.6;
                }
            }
        }
    }
}

.quick-finder {
    background-color: $color-grey;
    padding: 2rem;
    input[type=text] {
        width: 100%;
        padding: 0.65rem 1rem;
        border:0;
        border-radius: 6px;
    }
    &__buttons {
        margin-top: 2.75rem;
        gap:1rem;
        @media (max-width:$max-md) {
            flex-direction: column;
            gap:0.5rem
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            flex-grow: 1;
            background-color: $color-primary;
            color:$color-white;

            text-decoration: none;
            padding: 0.5rem 1rem;

            border-radius: 6px;
        }
    }
}