@use "../abstracts/variables" as *;
@use "../abstracts/screenwidth" as *;

.slideshow-outer {
    @media (max-width:1400px) {
        padding:0 25px;
    }
    @media (max-width:992px) {
        padding:0 5px 50px 5px;
    }
    &.slideshow-full {
        padding:0!important;
        .tns-controls {
            > button {
                width: 45px;
                height:45px;
                font-size: 22px;
                &[data-controls=prev] {
                    left: 30px;
                }
                &[data-controls=next] {
                    right: 30px;
                }
            }
        }

        .grid-gallery {
            &__caption {
                background-color: rgba(0,0,0,0)!important;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
                padding:2.15rem 2rem 6rem 2rem;
                text-align: center;
                transition: 0.5s;

                @media (max-width:992px) {
                    background-color: $color-black!important;
                }

                :is(h1,h2,h3,h4,h5,h6) {
                    margin-bottom: 1rem;
                }

                p {
                    margin:15px auto;
                }

                > * {
                    max-width: 70ch;
                    margin:0 auto;
                }
            }
            
            &:hover .grid-gallery__caption {
                background: linear-gradient(to top, rgba(0, 0, 0, 0.98), transparent);
            }
        }
    }
    &:not(.slideshow-full) {
        .tns-ovh {
            padding:30px 0;
        }
    }
 }



.tns-outer {
    position: relative;

    [data-action=start], [data-action=stop] {
        display: none;
    }
    .tns-nav {
        position: absolute;
        left: 0;
        bottom:35px;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 15px;
            height: 15px;

            background-color: transparent;
            appearance: none;
            cursor: pointer;

            border:2px solid $color-white;
            border-radius: 50%;
            
            &.tns-nav-active {
                background-color: $color-white;
            }
        }
    }
    .tns-controls {
        width: 100%;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$max-md) {
            top:auto;
            bottom:-50px;
            transform: none;
            justify-content: center;
            gap:1rem;
        }

        > button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border:0;
            border-radius: 50%;
            background-color: $color-primary;
            color:$color-white;
            i {
                font-size:30px;
            }

            @media (max-width:$max-md) {
                width: 40px;
                height: 40px;
            }

            &[data-controls=prev] {
                position: absolute;
                left:-40px;
                @media (max-width:$max-sm) {
                    position: unset;
                    left:-5px;
                }
            }

            &[data-controls=next] {
                position: absolute;
                right:-40px;
                @media (max-width:$max-sm) {
                    position: unset;
                    right:-5px;
                }
            }
        }
    }
}