@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;

.header {
    position: fixed;
    left: 0;
    top:0;

    width: 100%;

    font-family: $font-body;
    transition: 0.5s;
    z-index: 3;

    &.fade-in {
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        .header__logo {
            img {
                filter:invert(100%)
            }
            span {
                color:$color-secondary;
            }
        }
        .header__links {
            &__menu {
                &--item:not([class*="active"]) {
                    > a {
                        color:$color-secondary;
                        &:hover {
                            color:$color-white;
                        }
                    }
                }
            }
        }
        .header__action {
            button {
                color:$color-secondary;
            }
        }
    }

    &__inner {
        justify-content: flex-start;
    }

    &__logo {
        position: relative;
        padding:1rem 3rem;
        text-decoration: none;

        img {
            position: relative;
            z-index: 1;
            max-width: 70px;
            height: auto;
            @media (max-width:$max-md) {
                max-width: 50px;
            }
        }
        span {
            position: relative;
            z-index: 1;
            font-size: 1.25rem;
            font-weight: bold;
            color:$color-white;

            letter-spacing: -0.5px;
            @media (max-width:$max-md) {
                font-size: 0.95rem;
                display: none;
            }
        }

        
        &--white {
            background-color: $color-white;
            &::after {
                border-color: transparent transparent transparent $color-white;
            }
            span {
                color:$color-secondary;
            }
        }
    }

    &__action {
        position: absolute;
        right:5ch;
        top:14.75ch;
        z-index: 2;

        flex-direction: column;
        gap:1rem;
        button[data-type-button] {
            appearance: none;
            border:0;
            cursor: pointer;

            width: 3.5rem;
            height:3.5rem;

            font-size: 1rem;
            
            display:inline-flex;
            align-items: center;
            justify-content: center;
            
            padding:0.5rem;
            border-radius: 50%;

            background-color: transparent;
            border:2px solid currentColor;
            color:$color-white;

            @media (max-width:$max-md) {
                width: 2.25rem;
                height: 2.25rem;
            }
        } 
        a {
            color:$color-white;
        }
        button {
            &[data-type-button="language"] {
                @media (max-width:$max-md) {
                    display: none;
                }
                position: relative;
                ul.language {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    list-style: none;
                    margin:0;
                    padding:0;

                    position: absolute;
                    
                    min-width: 120px;
                    border:1px solid rgba($color-black, 0.25);

                    
                    top:calc(100% - 10px);
                    visibility: hidden;
                    opacity: 0;

                    transition: 0.5s;

                    &.is-shown {
                        top:calc(100% + 10px);
                        visibility: visible;
                        opacity: 1;
                    }

                    li {
                        width: 100%;
                        + li {
                            border-top:1px solid rgba($color-black, 0.25);
                        }
                        a { 
                            width: 100%;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $color-white;
                            
                            padding:0.65rem 1rem;
                            color:$color-black;

                            text-decoration: none;
                            &:hover, &.is-active {
                                background-color: $color-secondary;
                                color:$color-white;
                            }
                        }
                    }
                }
            }
            // &[data-type-button="search"] {
            //     background-color: $color-secondary;
            //     color:$color-white;
            // }
            &[data-type-button="hamburger"] {
                @media (min-width:$min-lg) {
                    display: none;
                }
            }
        }
    }

    &__navigation {
        flex:1;
    }

    &__addon {
        background-color: $color-white;
        padding:1rem;
        border-top: 1px solid rgba($color-black, 0.05);

        @media (min-width:$min-md) {
            display: none;
        }

        ul.language {
            display: flex;
            align-items: center;
            list-style: none;
            padding:0;
            margin:0;
            li {
                + li {
                    margin-left: 0.5rem;
                }
                a {
                    font-size: 0.85rem;
                    text-decoration: none;
                    color:$color-black;
                }
            }
        }
    }

    &__links {
        width: 100%;
        @media (min-width:$min-md) {
            // padding:0 2rem;
        }
        
        @media (max-width:$max-md) {
            position: absolute;
            left: 0;
            top: 100%;
            overflow: hidden;
            max-height: 0;
            transition: 0.4s;
            background-color: $color-white;

            &.is-shown {
                max-height: 999px;
            }
        }
        &__menu {
            justify-content: center;
            list-style: none;
            padding:0;
            margin:0;

            @media (max-width:$max-md) {
                flex-direction: column;
            }

            &--item {
                position: relative;
                width: 100%;
                + * {
                    border-top: 2px solid rgba($color-black, 0.05);
                }

                @media (min-width:$min-md) {
                    width: auto;
                    + * {
                        border-left: 15px solid transparent;
                        border-top: 0px solid transparent;
                        margin-left: 0rem;
                    }
                }
                .toggle {
                    margin: -.85rem -1rem;
                    background-color: rgba(0,0,0,0.1);
                    padding: 0.85rem 1rem;
                    min-height: 4px;
                    min-width: 48px;

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 1.25rem;
                    line-height: 1;
                    @media (min-width:$min-md) {
                        display: none;
                    }
                }
                
                @media (min-width:$min-md) {
                    &:hover {
                        > a {
                            background-color: $color-secondary;
                            color:$color-white;
    
                            text-shadow: 0px 0px 1px $color-white;
                            // &::after {
                            //     height: 8px;
                            //     top:-8px;
                            //     opacity: 1;
                            // }
                        }
                    }
                }

                &--active {
                    > a {
                        background-color: $color-secondary;
                        color:$color-white;
                    }
                }

                > a {
                    width: 100%;
                    
                    position: relative;
                    display:inline-flex;
                    align-items: center;
                    justify-content: space-between;

                    color:$color-white;
                    padding:0.75rem 1rem;
                    border-radius: 6px;

                    font-size: 1rem;

                    text-decoration: none;
                    transition: 0.3s;
                    text-transform: uppercase;

                    @media (max-width:$max-md) {
                        padding:0.65rem 2rem;
                        color:rgba($color-black, 1);
                    }

                    &::after {
                        content:'';
                        position: absolute;
                        bottom:0;
                        left: 0;
                        top:5px;
                        width: 100%;
                        height: 0;
                        background-color: $color-primary;

                        transition: 0.3s;
                        opacity: 0;
                    }

                    @media (max-width:$max-md) {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                    &.is-active {
                        .toggle {
                            i::before {
                                content: '\f106';
                            }
                        }
                    }
                }
                &--has-submenu {
                    &.is-expanded {
                        ul[class*="submenu"] {
                            max-height: 999px;
                        }
                    }
                    &:hover {
                        .header__links__submenu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }

        &__submenu {
            margin:0;
            padding:0;
            list-style-type: none;
            background-color: $color-white;

            @media (min-width:$min-md) {
                position: absolute;
                min-width: 300px;
                opacity: 0;
                visibility: hidden;
                box-shadow: 0 5px 20px -10px rgba(0,0,0,0.2);
                transition:0.35s;

                transform: translateY(10px);
            }

            @media (max-width:$max-md) {
                overflow: hidden;
                max-height: 0;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }

            &--item {
                position: relative;
                + * {
                    border-top: 1px solid $color-light-grey;
                }
                > a {
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    padding:0.85rem;

                    width: 100%;

                    font-size: 0.85rem;
                    color:$color-black;
                    
                    &:hover {
                        color:$color-primary;
                        text-shadow: 0px 0px 1px $color-white;
                    }
                }
            }
        }
    }

    &__search {
        position: relative;
        width: 100%;
        height:auto;

        // margin-top: -4rem;
        margin-top: 0rem;
        z-index: 3;
        background-color: $color-white;
        // box-shadow: 0 15px 20px -15px rgba(0,0,0,0.8),0 2000px 0 2000px rgba(0,0,0,0.4);

        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
        overflow: hidden;

        @media (max-width:$max-md) {
            margin-top: 0;
            
            position: absolute;
            left: 0;
            top: 100%;
        }

        &.is-shown {
            opacity: 1;
            visibility: visible;
            padding:1.5rem 0;
            margin-top: 0;
            height: 92px;
            @media (max-width:$max-md) {
                padding:1rem;
            }
        }

        form {
            gap:0.65rem;

            input[type=search] {
                flex-grow: 1;
                background-color: $color-light-grey;
                padding:0.85rem 2rem;
                border-radius: 30px;  
                width: 100%; 

                border:0;
                @media (max-width:$max-md) {
                    padding:0.55rem 0rem 0.55rem 1rem;
                    flex:0 0 85%;
                }
            }
            > div {
                @media (max-width:$max-md) {
                    flex: 0 0 15%;
                    width: 100%;
                    text-align: center;
                }
            }
            button {
                appearance: none;
                border:0;
                cursor: pointer;

                width: 3.25rem;
                height: 3.25rem;
                
                display:inline-flex;
                align-items: center;
                justify-content: center;
                
                padding:0.5rem;
                border-radius: 50%;

                background-color: $color-secondary;
                color:$color-white;

                @media (max-width:$max-md) {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    &__pertamina {
        min-height: 97px;
        padding:1rem 2rem 0.5rem 6rem;
        img {
            max-width: 250px;
        }
    }
}